$purple-primary: #3f1665;
$yellow-primary: #fcc434;
$purple-base: #352961;
$purple-second: #774181;
$pink-palid: #e6b2c6;
$yellow-slow: #f6e5e5;
$turquoise: #4592af;
$black: #000000;
$complementary-white: #f7f7f7;
$transparent: rgba(0, 0, 0, 0);
$smoke: rgba(23, 22, 22, 0.44);
$text-gray: rgb(90, 93, 94);
$white-pure: #FFF;
