@import "colors";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 nav{
    div{
      &.nav-wrapper{
        background-color: $orange-secundary;
        font-weight: bolder;
        font-size: 1rem;
      }
    }
 }

 div{
   &#toAction{
    text-align: center;
    font-weight: bolder;
    margin-top: 1rem;
    a{
      background-color: $orange-primary;
      margin-left: 1rem;
      border-radius: .5rem;
    }
   }
    &#img-portrait{
      height: 50vh;
      background-image: url("../assets/images/lowsupport.jpg") !important ;
      background-position: right;
      background-size: cover;
    }
    &#copyright{
      text-align: center;
      color: $white-pure !important;
    }
    &#item1{
      height: 50vh;
      background-image: url("../assets/images/carrucel_1.jpg") !important ;
      background-position: right;
      background-size: cover;
    }
    &#item2{
      height: 50vh;
      background-image: url("../assets/images/carrucel_3.jpg") !important ;
      background-position: center;
      background-size: cover;
    }
    &#item3{
      height: 50vh;
      background-image: url("../assets/images/carrucel_3.jpg") !important ;
      background-position: center;
      background-size: cover;
    }
  }

img{
  &#logo{
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
  }
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: $blue-complementary;
}

ul{
  &.sidenav{
    li{
      &>a{
        color: $orange-primary;
        font-size: 20px !important;
      }
    }
  }
  &#socialMedia{
    text-align: center;
    img{
      margin-left: 4rem;
    }
  }
}

.dropdown-content{
  li>a{
    font-size: 16px;
    color: $orange-secundary;
  }
}

@media (min-width:998px) {
  img{
    &#logo{
      width: 20%;
      margin-left: 5%;
      margin-top: 5px;
    }
  }
  nav{
    .brand-logo{
          width: 50% !important;
    }
  }
}
