<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/icons//apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/icons//apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/icons//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/icons//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/icons//apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/icons//apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/icons//apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons//apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/icons//android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/icons//favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons//favicon-16x16.png">
    <link rel="manifest" href="../assets/icons//manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/icons//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <nav class="nav-extended ">
    <div class="nav-wrapper">
      <span  class="brand-logo"> <img id="logo"src="../assets/images/logotipo.png" alt=""> </span>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menú<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="mapInfo.html">Mapa de denuncia</a></li>
      <li><a href="#!">Violencia de genero</a></li>
      <li><a href="#!">¿Qué es TE CREO?</a></li>
      <li><a href="#!">La red TE CREO</a></li>
      <li><a href="#!">Agregarse a red TE CREO</a></li>
      <li><a href="#!">Investigación</a></li>
      <li class="divider"></li>
      <li><a href="#!">Contribuir</a></li>
    </ul>
    <!-- SideNav Structure -->
    <ul class="sidenav" id="mobile-demo">
      <li><a href="mapInfo.html">Mapa de denuncia</a></li>
      <li><a href="sass.html">Violencia de genero</a></li>
      <li><a href="badges.html">¿Qué es TE CREO?</a></li>
      <li><a href="collapsible.html">La red TE CREO</a></li>
      <li><a href="collapsible.html">Agregarse a red TE CREO</a></li>
      <li><a href="collapsible.html">Investigación</a></li>
      <li><a href="collapsible.html">Contribuir</a></li>
    </ul>
    <div id="toAction"class="">
      <a class="btn-large" href="">Blog</a>
      <a class="btn-large" href="tellme.html">Cuéntanos</a>
      <a class="btn-large" href="allies.html">Aliadas</a>
    </div>
    <section class="content">


    </section>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l7 offset-l2 s12">
            <ul id="socialMedia">
              <img src="../assets/images/facebook.png" alt="">
              <img src="../assets/images/twitter.png" alt="">
              <img src="../assets/images/blogger.png" alt="">
              <img src="../assets/images/meetup.png" alt="">

            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div id="copyright"class="container">
        © 2019 Hecho con sororidad por <span> < Aguacatech > </span> <i class="Tiny material-icons">favorite</i>
        </div>
      </div>
    </footer>
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="js/materialize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
       M.AutoInit();
      });
    </script>
  </body>
</html>
